#transform{
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s;
}
#transform:hover {
    transition-duration: 1s;
    border-radius: 30%;
    background-color: brown;
}

#transform:hover {
    transition-duration: 1s;
    border-radius: 50%;
    background-color: orangered;
}